<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<div id="app">
    <div id="contact-list">
    </div>

    <div id="add-contact-container">
        <h1>Add new contact</h1>
        <input type="text" id="new-contact-name"/>
        <input type="text" id="new-contact-phone" />
        <input type="button" id="add-new-contact" value="Add new contact"/>
    </div>
</div>

    <script src="~/Scripts/json2.js"></script>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/backbone.js"></script>
<script type="text/javascript">

    $(function() {

        var Contact = Backbone.Model.extend({
        });

        var ContactList = Backbone.Collection.extend({
            model: Contact,
            url: '../api/contacts'
        });

        var contactList = new ContactList();

        var ContactItemView = Backbone.View.extend({
            template: _.template($('#item-template').html()),
            initialize: function() {
                this.model.on('destroy', this.remove, this);
            },
            events: {
                'click .destroy': 'destroy'
            },
            render: function() {
                this.$el.html(this.template(this.model.toJSON()));
                return this;
            },
            destroy: function(){
                this.model.destroy();
            }
        });

        var AppView = Backbone.View.extend({
            el: '#app',
            initialize: function () {
                $('#add-new-contact').click(function() {
                    contactList.create({
                        Id: 0,
                        Name: $('#new-contact-name').val(),
                        Phone: $('#new-contact-phone').val()
                    });
                });

                contactList.on('add', this.addOne, this);
                contactList.on('reset', this.addAll, this);
                contactList.fetch(); // Loads list from local storage
            },
            addOne: function (contact) {
                var view = new ContactItemView({ model: contact });
                $('#contact-list').append(view.render().el);
            },
            addAll: function () {
                this.$('#contact-list').html(''); // clean the todo list
                contactList.each(this.addOne, this);
            },
            render: function () {
                $("#contact-list").html("");
                if (this.model.length) {
                    for (var i = 0; i < this.model.length; i++) {
                        var view = new ContactItemView({ model: this.model.at(i) });
                        $("#contact-list").append(view.render().el);
                    }
                }
            }
        });

        var appView = new AppView();

    });

</script>

<script type="text/template" id="item-template">
    <div class="view">
        <label><%- Id %> | </label>
        <label><%- Name %> | </label>
        <label><%- Phone %></label>
        <button class="destroy">remove</button>
    </div>
</script>
</body>
</html>
